.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.container {
  display: flex;
  gap: 4svmin;
  align-items: center;
  height: 100svh;
  padding: 4svmin max(4svmin, 50svw - 64svmin);
}

.image {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2svmin;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.image > img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 2svmin;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4svmin;
  width: 100%;
  max-height: 64svh;
  padding-top: 1lh;
  padding-bottom: calc(64svh - 1lh);
  overflow: hidden scroll;
  line-height: 2rem;
  letter-spacing: 0;
}

.content p {
  text-indent: 1rem;
}

@media screen and (aspect-ratio <= 3 / 4) {
  .container {
    flex-direction: column;
    gap: 8svmin;
  }

  .image {
    flex-direction: column-reverse;
    flex-shrink: 0;
  }

  .image > hgroup {
    font-size: 0.8em;
  }

  .image > hgroup > h1 {
    font-size: 1.6em;
  }

  .content {
    max-height: none;
    padding: 0 1lh 0 calc(100svw - 8svmin - 1lh);
    overflow: scroll hidden;
    writing-mode: vertical-rl;
  }
}
