.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.container {
  display: flex;
  gap: 4svmin;
  align-items: center;
  height: 100svh;
  padding: 4svmin max(4svmin, 50svw - 64svmin);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 4svmin;
  place-items: center center;
  width: 100%;
  padding-block: 1svmin;
  border-bottom: solid 1px #eee;
}

.header > h1 {
  width: fit-content;
  margin: 0;
  font-size: 1.2rem;
}

.header > a {
  display: flex;
  gap: 1svmin;
  align-items: center;
  width: fit-content;
  padding: 8px;
  color: #333;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.header > a:hover {
  background-color: #eee9;
}

.image {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2svmin;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.image > img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 2svmin;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4svmin;
  width: 100%;
  max-height: 64svh;
  padding-top: 1lh;
  padding-bottom: calc(64svh - 1lh);
  overflow: hidden scroll;
  line-height: 2rem;
  letter-spacing: 0;
}

.content p {
  text-indent: 1rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 2svmin;
}

.sectionLabel {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #334;
}

.sectionLabel::after {
  flex-grow: 1;
  height: 2px;
  content: '';
  background-color: #ccd9;
}

.novelContainer {
  display: block;
  container-type: inline-size;
  flex: 1 1 max(calc((100% - 4svmin) / 3), 200px);
}

.novelCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  padding: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fcfcfc;
  border: solid 3px #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #eee;
  transition: background-color 0.2s;
}

.novelCard:hover {
  background-color: #fffaee;
}

.novelImage {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 4px;
}

.novelImage > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@container (min-width: 50svmin) {
  .novelCard {
    flex-direction: row;
  }

  .novelImage {
    width: min(30%, 128px);
  }
}

@media screen and (aspect-ratio <= 3 / 4) {
  .container {
    flex-direction: column;
    gap: 8svmin;
    padding-top: 64px;
  }

  .header > a > span {
    display: none;
  }

  .image {
    flex-direction: column-reverse;
    flex-shrink: 0;
  }

  .image > hgroup {
    font-size: 0.8em;
  }

  .image > hgroup > h1 {
    font-size: 1.6em;
  }

  .content {
    max-height: none;
    padding: 0 1lh 0 calc(100svw - 8svmin - 1lh);
    overflow: scroll hidden;
    writing-mode: vertical-rl;
  }
}
