.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.title {
  position: fixed;
  top: 0;
  left: 30px;
  font-size: 70px;
  background: linear-gradient(270deg, rgb(87 199 255) 0%, rgb(20 130 255) 40%, rgb(16 11 255) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchWindow {
  position: fixed;
  top: 120px;
  left: 1000px;
  width: 250px;
  height: 40px;
}

.searchButton {
  position: fixed;
  top: 125px;
  right: 1000px;
  width: 50px;
  height: 30px;
}

.ranking {
  position: absolute;
  top: 220px;
  left: 100px;
  font-size: 40px;
  background: linear-gradient(90deg, rgb(255 146 250) 0%, rgb(255 83 241) 40%, rgb(248 32 176) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work1,
.work2,
.work3,
.work4,
.work5 {
  position: absolute;
  top: 350px;
  font-size: 20px;
}

.work6,
.work7,
.work8,
.work9,
.work10 {
  position: absolute;
  bottom: 150px;
  font-size: 20px;
}

.work1,
.work6 {
  left: 100px;
}

.work2,
.work7 {
  left: 550px;
}

.work3,
.work8 {
  left: 1000px;
}

.work4,
.work9 {
  right: 600px;
}

.work5,
.work10 {
  right: 100px;
}
