.container {
  display: flex;
  flex-direction: column;
  gap: max(32px, 12svmin);
  width: min(80svw, 72svh);
  min-height: 100svh;
  padding: 8svmin 0;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  background: linear-gradient(270deg, #7d6b00 0%, #590000 40%, #bf933c 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchInput {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-width: none;
  height: 100%;
  padding: 8px 16px;
  border: 0;
  border: solid 1px #ccc;
  border-radius: 8px;
}

.searchInput:focus {
  border-color: #7d6b00;
  outline: none;
}

.searchButton {
  flex-grow: 0;
  flex-shrink: 0;
  width: fit-content;
  padding: 8px 16px;
  cursor: pointer;
  background: #7d6b00;
  border: 0;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #;
}

.searchButton:disabled {
  cursor: not-allowed;
  background-color: #e5d7bf;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 2svmin;
}

.sectionLabel {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #334;
}

.sectionLabel::after {
  flex-grow: 1;
  height: 2px;
  content: '';
  background-color: #ccd9;
}

.novelContainer {
  display: block;
  container-type: inline-size;
  flex: 1 1 max(calc((100% - 4svmin) / 3), 200px);
}

.novelCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  padding: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fcfcfc;
  border: solid 3px #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #eee;
  transition: background-color 0.2s;
}

.novelCard:hover {
  background-color: #fffaee;
}

.novelImage {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 4px;
}

.novelImage > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@container (min-width: 50svmin) {
  .novelCard {
    flex-direction: row;
  }

  .novelImage {
    width: min(30%, 128px);
  }
}
