.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.title {
  position: fixed;
  top: 0;
  left: 30px;
  font-size: 70px;
  background: linear-gradient(270deg, rgb(87 199 255) 0%, rgb(20 130 255) 40%, rgb(16 11 255) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchWindow {
  position: fixed;
  top: 120px;
  left: 1000px;
  width: 250px;
  height: 40px;
}

.searchButton {
  position: fixed;
  top: 125px;
  right: 1000px;
  width: 50px;
  height: 30px;
}
